<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='./css/styles.css' />
    <link rel="icon" href="/img/cloud.png" />
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <div class='about-content'>
            <img class='profile' src='img/weather.png' />
            <p>Just a simple Node.js weather application while progressing through <a href='https://udemy.com/course/the-complete-nodejs-developer-course-2/' target='_blank'>this Udemy course</a>.  API's integrated: <a href='https://weatherstack.com/' target='_blank'>WeatherStack</a> | <a href='https://www.mapbox.com/' target='_blank'>MapBox</a>. Npm modules: <a href='https://www.npmjs.com/package/express' target='_blank'>Express</a> | <a href='https://www.npmjs.com/package/hbs' target='_blank'>Handlebars</a> | <a href='https://www.npmjs.com/package/postman-request' target='_blank'>Postman-Request</a>. The possibilities seem endless with Node due to the vast libraries of npm modules. I'm making my way through this introductory course to spark new ideas for future projects. But of course... every journey starts with the basics.
        </div>
    </div>
    {{>footer}}
</body>
</html>