<footer>
  <div class="foot">
    <a href="https://www.alexleventis.com" target="_blank">{{name}}</a>
    <a href='https://alexcod.es/github' target='_blank'>Github</a>
    <a href='https://alexcod.es/linkedin' target='_blank'>LinkedIn</a>
  </div>

</footer>